<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
{{- $desc := cond (ne .Description "") .Description site.Params.tagline }}
{{- with $desc }}
  <meta name="description" content="{{ . }}">
{{- end }}
<meta name="theme-color" content="#e4572e">
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ "favicon.png" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
